.conference {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  height: 90vh;
}

#videos {
  position: relative;
  height: 85vh;
  width: 100vw;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-items: center;
  align-items: center;
}

.vid {
  position: relative;
  background-color: black;
  height: 95%;
  width: 95%;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
}

.controls {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  width: 100%;
}
